{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="second-benefit" action="/another-benefits" method="post" class="govuk-form-group">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Appeal response</span>
              Select the benefits that apply
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Other">
              <label class="govuk-label govuk-checkboxes__label" for="benefits">
                Carers
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="benefits-2" name="benefits" type="checkbox" value="Other">
              <label class="govuk-label govuk-checkboxes__label" for="benefits-2">
                ESA
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="benefits-3" name="benefits" type="checkbox" value="Other">
              <label class="govuk-label govuk-checkboxes__label" for="benefits-3">
                UC
              </label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="benefits-4" name="benefits" type="checkbox" value="None" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="benefits-4">
                None
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and exit
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
