{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="second-benefit" action="appeals-what-benefit-3" method="post" class="govuk-form-group">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Appeal response</span>
              What is the ESA benefit?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-answer-4" name="benefit-answer" type="radio" value="ESA" aria-describedby="benefit-answer-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="benefit-answer-4">
                ESA
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-answer-5" name="benefit-answer" type="radio" value="ESA old evidence" aria-describedby="benefit-answer-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="benefit-answer-5">
                ESA old evidence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-answer-6" name="benefit-answer" type="radio" value="ESA report used - 3" aria-describedby="benefit-answer-item-hint">
              <label class="govuk-label govuk-radios__label" for="benefit-answer-6">
                ESA report used - 3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-answer-7" name="benefit-answer" type="radio" value="ESA Work Related Activity" aria-describedby="benefit-answer-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="benefit-answer-7">
                ESA Work Related Activity
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Benefit preview</h2>
      <p id="benefit-preview-0" class="govuk-body">
        Please select a benefit to view preview.
      </p>
      <div id="benefit-preview-4" class="govuk-inset-text" style="display: none;">
        Although [Title] [Surname] [Select is,was] entitled to ESA, this doesn't bring automatic entitlement to PIP, which is assessed separately and under different criteria. ESA assesses fitness to work. This factor isn't relevant to the PIP qualifying criteria. The recent relevant PIP evidence shows [Title] [Surname] has the functional ability to carry out the PIP daily living and mobility activities as reflected in the decision under appeal.
      </div>
      <div id="benefit-preview-5" class="govuk-inset-text" style="display: none;">
        PIP and ESA have different entitlement conditions. Although [Title] [Surname] [Select is,was] entitled to ESA, the ESA evidence is over [number] [Select years,months] old and the recent PIP evidence shows [Title] [Surname] has the functional ability to carry out all daily living and mobility activities shown in the decision under appeal. I agree with all descriptors selected.
      </div>
      <div id="benefit-preview-6" class="govuk-inset-text" style="display: none;">
        An Employment and Support Allowance (ESA) report was used to make this decision. While the examination isn't specifically for assessing PIP entitlement, it provides valuable information about the claimant's typical day and a health care professional's opinion on functional ability based on observations of the claimant and knowledge of their medical conditions. Although the report was used as part of the evidence to assess [Title] [Surname], entitlement to ESA alone brings no automatic entitlement to PIP, which is assessed separately and under different criteria.
      </div>
      <div id="benefit-preview-7" class="govuk-inset-text" style="display: none;">
        Although [Title] [Surname] [Select is,was] entitled to ESA and [Select is,was] in the Work Related Activity Group, this doesn't bring automatic entitlement to PIP, which is assessed separately and under different criteria. ESA assesses fitness to work. This factor isn't relevant to the PIP qualifying criteria. The recent relevant PIP evidence shows [Title] [Surname] has the functional ability to carry out the PIP daily living and mobility activities as reflected in the decision under appeal.
      </div>

      <p id="benefit-hint" class="govuk-body" style="display: none;">
        Continue to edit benefit text
      </p>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and exit
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/benefit-preview-2.js"></script>
{% endblock %}