{% extends "layouts/appeal-layout-no-link.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Appeal response</span>
      Case details summary
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of appeal
        </dt>
        <dd class="govuk-summary-list__value">
          Change of Circumstances
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-case-type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of claim
        </dt>
        <dd class="govuk-summary-list__value">
           12/04/27 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-case-type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of Appeal request
        </dt>
        <dd class="govuk-summary-list__value">
           12/04/27 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-case-type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of Appeal request
        </dt>
        <dd class="govuk-summary-list__value">
           12/04/27 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-case-type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select the benefits that apply
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['benefits'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-benefit-answer">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      {% if data['benefits'] == "Other" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the carer benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the ESA benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit-2">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the UC benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit-3">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Assisted dates (1)
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of first tier decision
            </dt>
            <dd class="govuk-summary-list__value">
              12/04/27
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First tier effective date
            </dt>
            <dd class="govuk-summary-list__value">
              13/04/27
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of MR decision
            </dt>
            <dd class="govuk-summary-list__value">
              12/04/27
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MR effective date
            </dt>
            <dd class="govuk-summary-list__value">
              13/04/27
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which is the decision under appeal?
            </dt>
            <dd class="govuk-summary-list__value">
              MR decision
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <form action="appeals-tasklist" method="post" class="govuk-form-group">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Delete all data and refresh from PIPCS
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
