{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="home-blue-banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l home-blue-banner-font">Newcastle Upon Tyne</span>
          <h1 class="govuk-heading-l home-blue-banner-font">
            Hello John Marston
          </h1>

          <p class="govuk-body home-blue-banner-font">Use the Appeal Management Service as your home for creating your Appeal Response, and accompanying letters</p>

          <a type="submit" href="pages/new-case" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--inverse" data-module="govuk-button">
            Create new case
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      My cases
    </h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#open-cases-tab">
            Open cases
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#closed-cases-tab">
            Closed cases
          </a>
        </li>
      </ul>
      <!-- TAB 1 -->
      <div class="govuk-tabs__panel" id="open-cases-tab">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">My cases</caption>
          <p class="govuk-body govuk-hint">Showing 1-5 of 14 cases</p>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case ID</th>
              <th scope="col" class="govuk-table__header">Customer</th>
              <th scope="col" class="govuk-table__header">Expiry</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#12345</td>
              <td class="govuk-table__cell">Arthur Morgan</td>
              <td class="govuk-table__cell">12/07/2026</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details">Open<span class="govuk-visually-hidden"> case 1</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#15646</td>
              <td class="govuk-table__cell">Arthur Retry</td>
              <td class="govuk-table__cell">14/07/2026</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-loading-retry">Open<span class="govuk-visually-hidden"> case 2</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#87658</td>
              <td class="govuk-table__cell">Arthur Manual</td>
              <td class="govuk-table__cell">15/07/2026</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-loading-error">Open<span class="govuk-visually-hidden"> case 3</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#54332</td>
              <td class="govuk-table__cell">Arthur Morgan</td>
              <td class="govuk-table__cell">16/07/2026</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details">Open<span class="govuk-visually-hidden"> case 4</span></a>
                </li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
      <!-- TAB 2 -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-cases-tab">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">My cases</caption>
          <p class="govuk-body govuk-hint">Showing 5 of 14 cases</p>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case ID</th>
              <th scope="col" class="govuk-table__header">Customer</th>
              <th scope="col" class="govuk-table__header">Closed on</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#12345</td>
              <td class="govuk-table__cell">Only Customer</td>
              <td class="govuk-table__cell">12/03/2027</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details-customer-only.html">Open<span class="govuk-visually-hidden"> case 1</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#15646</td>
              <td class="govuk-table__cell">Two TL1's</td>
              <td class="govuk-table__cell">11/03/2027</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details-2tl1">Open<span class="govuk-visually-hidden"> case 2</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#87658</td>
              <td class="govuk-table__cell">Arthur Morgan</td>
              <td class="govuk-table__cell">10/03/2027</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details">Open<span class="govuk-visually-hidden"> case 3</span></a>
                </li>
              </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">#54332</td>
              <td class="govuk-table__cell">Arthur Morgan</td>
              <td class="govuk-table__cell">09/03/2027</td>
              <td class="govuk-table__cell">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="pages/case-details">Open<span class="govuk-visually-hidden"> case 4</span></a>
                </li>
              </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="govuk-pagination" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>

{% endblock %}
